@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


body{
    height: 1000px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}


.jumbotron{
    background-size: cover;
    background-image: url('./about5.jpeg');
    background-position: center; /* Mengatur posisi gambar di tengah jumbotron */
    background-repeat: no-repeat;
    height: 35em;
    position: relative;
}

.jumbotron .container-jumbo {
    position:relative;
    z-index: 1;

}

.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;

}

.jumbotron .display-4{
    color:white;
    font-style: bold;
    text-align: left;
    font-size: 25px;
    line-height: 1.5;

}

.explore {
    width: 10em;

}

a {
    text-decoration: none;
}

hr {
    width: 20%;
    color: black;
}

.nav-link:hover{
    color: red;
}

.card-title:hover{
    color: red;
}

.read {
    transition: transform 0.3s ease;
}

.read:hover {
    transform: scale(5);
}

.form-inputs{
    position:relative;
    justify-content: flex-end;
}
.form-inputs .form-control{
    height:45px;
}

.form-inputs .form-control:focus{
    box-shadow:none;
    border:1px solid #000;
}

.form-inputs i{
    position:absolute;
    right:10px;
    top:15px;
}


::root {
	counter-reset: question;
}

section#start {
	text-align: center;
	margin-top: 45vh;
}
.congrats {
	font-weight: bold;
	font-size: 110%;
	color: orange;
}



fieldset {
	width: 570px;
	height: auto;
	color: #000000;
	background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: none;
	border-radius: 10px;
	position: relative;
	padding: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 85px;
	counter-increment: question;
}
section#start a:after {
	/* content: " " counter(question); */
}
fieldset legend {
    padding-left: 50px;
}
fieldset > div {
	margin-top: 10px;
    padding-left: 70px;
}
fieldset input:checked + label {
	border-bottom: 2px solid #fddc9b;
}
fieldset label::after {
    content: "\000A";
    white-space: pre;
	line-height: 2;
}
fieldset section {
    margin-top: 30px;
	width: calc(100% - 20px);
}
.message a {
	color: white;
}
.incorrect p:first-of-type {
	font-size: 110%;
	color: orangered;
	font-weight: bold;
}
.correct {
	font-size: 110%;
	color: blue;
	font-weight: bold;
}

fieldset .button-next {
	position: absolute;
	bottom: -70px;
	left: 0;
	right: 0;
	text-align: center;
}
.button {
	color: white;
	background-color: #001845;
	border-radius: 10px;
	padding: 15px 20px;
	text-decoration: none;
	font-weight: bold;
}
.button:hover {
	background-color: #002855;
}


fieldset {
	display: none;
}
fieldset:target {
	display: block;
}
fieldset:target ~ section#start {
	display: none;
}


